
.create_acc{
    position: fixed;
    bottom: 2%;
    right: 4%;
    display: none;
    z-index: 3;
}
.custom-input {
    border-radius: 0 !important;
    border: 1px solid #d9d9db;
    background: #f7f8fa;
    height: 2.5rem;
}
.m_in{
    display: none;
}
@media (max-width: 990px) {
    .header-nav{
        display: none;
    }
    .create_acc{
        display: block;
    }
    .m_in{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}